ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #fff !important;
}
a:hover{
    color: #fff;
}
.swrap{
    margin-top: 80px;
}

/* rewrite css react-datatable-component */
.rdt_TableHeadRow{
    background-color: RGB(152,177,199) !important;
}
.rdt_TableCell{
    border-left:solid 0.1px #cccc !important;
    border-right:solid 0.1px #cccc !important;
}
.rdt_TableCol{
    border-left:solid 0.1px #fff !important;
    border-right:solid 0.1px #fff !important;
}